/* 
* FILE          : global.css
* PROJECT       : Spatial Audio Toollkit
* PROGRAMMER    : Gagana "Gage" Hettiarachchige
* FIRST VERSION : 2025-04-10
* DESCRIPTION   :
*   This file styles the app.
*/

@import "tailwindcss";

/*
* COLOUR SCHEME.
* #ffd966ff = gold
* #ffffffff = white
* #cccccc = grey
* #c27ba0ff = purple
*/

:root {
  --background: #ffffffff;
  --foreground: #ffd966ff;
  --highlight: #c27ba0ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffd966ff;
    --foreground: #ffffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar
{
  background: var(--highlight);
}

.LandingHeader
{
  padding: 20px;
  font-size: 40px;
  font-weight: bolder;
  align-self: center;
  align-content: center;
  text-align: center;
  background-color: #c27ba0ff
}

.textblob
{
  background-color: #c27ba0ff;
  padding: 15px;
}